{{define "dashboard-editor"}}
{{template "header" .Tpl}}

<div class="container">
  <h2>Dashboard edit</h2>
  <input type='hidden' id='dash-name' value='{{.Name}}'></input>
  <textarea id='dash-data' class="input-block-level" rows="25"
  >{{.Graphs}}</textarea>
  <button type="submit" class="btn btn-primary" onclick="saveDashboard()">Save</button> (You can auto-indent by saving and refreshing the page)

  <h3>Example</h3>
  <p>Note: never add a trailing <code>,</code> after last dictionary or array element.</p>
<pre>
[
  {
    "name": "first graph",
    "targets": [ "one.metric", "another.metric" ]
  },
  {
    "name": "second graph",
    "targets": [ "just.one.metric" ]
  }
]
</pre>
</div>

<script>
function saveDashboard() {
  var dash = document.getElementById('dash-name').value;
  var d = document.getElementById('dash-data').value;
  console.log(d);

  try {
    var data = JSON.parse(d);
  } catch (e) {
    alert(e);
    return;
  }

  $.ajax({
    url: "/api/dashboard/save/",
    data: {'dashboard': dash, 'data': JSON.stringify(data)},
  	dataType: 'json',
  	success: function(d) {
    },
    error: function(d) {
      console.log(d);
      alert(d.responseText);
    }
  });
}
</script>
{{template "footer"}}
{{end}}
