{{define "dashboards"}}
{{template "header"}}

<div class="container">
  <h2>Dashboards</h2>
  <form>
    <fieldset>
      <legend>New dashboard</legend>
      <label>Name</label>
      <input type="text" class="input-xlarge" id="new-dashboard-name"></input>
      <div>
        <button type="submit" class="btn" onclick="newDashboard(); return false;">Create</button>
      </div>
    </fieldset>
  </form>

  <h3>List</h3>
  <table id="dashboards-table" class="table table-striped table-hover table-condensed">
    <thead>
      <tr>
        <th>Dashboard</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody id="dashboards-tbody"></tbody>
  </table>
</div>

<script src="/static/api.js"></script>
<script>
function newDashboard() {
  var d = document.getElementById('new-dashboard-name').value;

  $.ajax({
    url: "/api/dashboard/new/",
    data: {'dashboard': d},
  	dataType: 'json',
  	success: function(d) {
      setTimeout(refreshDashboardTable, 100);
    },
    error: function(d) {
      console.log(d);
      alert(d.responseText);
    }
  });
}

function refreshTable(d) {
  var tb = document.createElement('tbody');
  tb.id='dashboards-tbody';
  for (var i = 0; i < d.Dashboards.length; ++i) {
    var ns = d.Dashboards[i];
    console.log(ns);
    var tr = document.createElement('tr');

    var td = document.createElement('td');
    var name = document.createElement('h5');
    name.textContent = ns.Name
    var description = document.createElement('p');
    description.textContent = ns.Description;
    td.appendChild(name);
    td.appendChild(description);
    tr.appendChild(td);

    var td = document.createElement('td');
    var edit = document.createElement('a');
    edit.href="/dashboard/edit?dashboard=" + ns.Name;
    edit.textContent = 'Edit';
    td.appendChild(edit);
    var open = document.createElement('a');
    open.href="/static/dash.html#" + ns.Name;
    open.textContent = 'Open';
    tr.appendChild(td);
    td.appendChild(open);

    tb.appendChild(tr);
  }
  var table = document.getElementById('dashboards-table');
  table.replaceChild(
    tb,
    document.getElementById('dashboards-tbody'));
}

function updateDropdown(id, list) {
  $('#' + id).empty();
  for (var i = 0; i < list.length; ++i) {
    var name = list[i];
    var el = document.createElement('option');
    el.textContent = name;
    el.value = name;
    document.getElementById(id).appendChild(el);
  }
}

function refreshDropdown(d) {
  var l = [];
  for (var i = 0; i < d.Dashboards.length; ++i) {
    l[l.length] = d.Dashboards[i].Name;
  }
  updateDropdown('dashboard-list', l);
}

function refreshNamespaces() {
  listNamespaces(function(d) {
    var l = [];
    for (var i = 0; i < d.Namespaces.length; ++i) {
      l[l.length] = d.Namespaces[i].Name;
    }
    updateDropdown('namespace-list', l);
  }, function(d) {
  });
}

function refreshDashboardTable() {
  $.ajax({
    url: "/api/dashboard/list/",
  	dataType: 'json',
  	success: function(d) {
      console.log(d);
      refreshTable(d);
      refreshDropdown(d);
    },
    error: function(d) {
      console.log(d);
      alert(d.responseText);
    }
  });
}

function openDashboard() {
  var dash = $('#dashboard-list').val();
  var namespace = $('#namespace-list').val();
  var url = "/static/dash.html#" + dash + "&namespace=" + namespace;
  window.open(url);
}

refreshDashboardTable();
refreshNamespaces();
</script>
{{template "footer"}}
{{end}}
