{{define "dashboard-editor"}}
{{template "header" .Tpl}}

<div class="container">
  <h2>Dashboard edit</h2>
  <input type='hidden' id='dash-name' value='{{.Name}}'></input>
  <textarea id='dash-data' class="editor" class="input-block-level" rows="25"
  >{{.Graphs}}</textarea>
  <button id='save-dash' type="submit" class="btn btn-primary" onclick="saveDashboard()">Validate and Save</button> (and auto-format)

  <p>
<pre id="result"></pre>
</p>

  <h3>Example</h3>
  <p>Note: never add a trailing <code>,</code> after last dictionary or array element.</p>
<pre>
{
  "graphs": [
    {
      "name": "first graph",
      "targets": [ "my.metric.0", "my.metric.1" ]
    },
    {
      "name": "second graph",
      "targets": [ "my.metric.2" ]
    }
  ],
  "acl": []
}
</pre>
</div>

<script src="/static3/jsonlint/jsonlint.js"></script>
<script>
function checkJson(json) {
  try {
    var parsed = jsonlint.parse(json);
    document.getElementById("result").innerHTML = '';
    return parsed;
  } catch(e) {
    document.getElementById("result").innerHTML = e;
    document.getElementById("result").className = "fail";
    return null;
  }
}

function saveDashboard() {
  var dash = document.getElementById('dash-name').value;
  var d = document.getElementById('dash-data').value;
  console.log(d);

  var data = checkJson(d);
  if (!data) {
    return;
  }
  document.getElementById('dash-data').value = JSON.stringify(data, null, "  ");

  $('#save-dash').attr('disabled', 'disabled');
  $.ajax({
    url: "/api/dashboard/save/",
    data: {'dashboard': dash, 'data': JSON.stringify(data)},
  	dataType: 'json',
  	success: function(d) {
      $('#save-dash').removeAttr('disabled');
      $('#save-dash').addClass('btn-success');
      setTimeout(function() {
        $('#save-dash').removeClass('btn-success');
      }, 1500);
    },
    error: function(d) {
      console.log(d);
      alert(d.responseText);
      $('#save-dash').removeAttr('disabled');
      $('#save-dash').addClass('btn-danger');
      setTimeout(function() {
        $('#save-dash').removeClass('btn-danger');
      }, 1500);
    }
  });
}
</script>
{{template "footer"}}
{{end}}
