body{
  padding:0;
  margin:0;
  margin-top:60px;
}
.graph{
  display:inline-block;
  margin-bottom: 10px;
}
.bt-group{
  border-right: 1px solid #ccc;
  margin-right: 10px;
  padding-right: 8px;
}
.bt-group-end{
  border-right: 0px;
}
#controls{
  background-color:#f9f9f9;
  border-bottom: 1px solid lightgray;
  margin-bottom: 10px;
  top:0;
  width:100%;
  position: fixed;
  z-index:1000;
  padding:5px;
}
.title{
  font-size: 38px;
  vertical-align: sub;
  float: left;
  padding-left: 4px;
  text-decoration: none;
}
.title-f{
  font-size: 20px;
  float: left;
}
.title-f a{
  color: #aaa;
  text-decoration: none;
  display: block;
}
#buttons {
  float:right;
  margin-top:18px;
}
.graph-container{
  display:inline-block;
  text-align:right;
  border:1px solid #ccc;
  margin: 10px;
  padding:10px;
  position:relative;
}
.legend{
}
#loading{
  position:fixed;
  right: 4px;
  bottom: 4px;
  background-color:#c00;
  padding: 4px;
  font-weight: bold;
  color:#fff;
}
#datetime{
  position:fixed;
  right: 4px;
  top: 60px;
  border: 1px solid #bbb;
}
